.modal_reset_pass {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 0.925rem;
}

.reset_input_divs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reset_input_div{
    display: flex;
    flex-direction: column;
}

.modal_reset_pass p{
    line-height: 1.1em;
}

.modal_reset_pass label {
  padding-bottom: 5px;
  font-weight: 600;
}

.modal_reset_pass input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 0.2rem;
  border-radius: 4px;
  padding: 7px;
}

.modal_reset_pass button {
  border: none;
  padding: 0.625rem;
  border-radius: 0.625rem;
  color: white;
  background-color: black;
  font-size: 0.938rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
