.main_nav{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 999;
    background-color: #ffffff7d;
}

.icon-chefHat{
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 0.313rem;
}

.LogoAndName{
    display: flex;
}

.brand_name{
    font-weight: 500;
}

.navbar-profile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-profile img{
    max-width: 3.125rem;
    max-height: 3.125rem;
    cursor: pointer;
}

.navbar-profile-dropdown{
    position: absolute;
    display: none;
    right: 0.625rem;
    top: 3.719rem;
    z-index: 1;
}

.navbar-profile:hover .navbar-profile-dropdown{
    display: flex;
    flex-direction: column;
    background-color: #ededed;
    padding: 0.625rem 0.938rem;
    border-radius: 4px;
    border: 1px solid black;
    outline: 2px solid white;
    list-style: none;
}

.navbar-profile-dropdown li{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-profile-dropdown img{
    width: 1.25rem;
}

.navbar-profile-dropdown > li:hover{
    color: black;
}

.login-signup-btns{
    display: flex;
}

.login-btn{
    margin-right: 0.5rem;
    border: none;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    padding: 4px 10px ;
    font-size: 1rem;
}

.login-btn:hover{
 background-color: rgb(238, 236, 236);   
}

@media(max-width:768px){
    .icon-chefHat{
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 0.45rem;
    }

    .brand_name{
        font-size:2rem;
    }

    .login-btn, .signup-btn{
        font-size: 1.3rem;
    }
}

@media(max-width:420px){
    .icon-chefHat{
        width: 2.2rem;
        height: 2.2rem;
        margin-right: 0.45rem;
    }

    .brand_name{
        font-size:1.7rem;
    }

    .login-btn, .signup-btn{
        font-size: 1rem;
    }
}
